<form action="./restaurants/{{ restaurant._id }}" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ todo.name }}">
  <button type-"submit">Save </button>
  <a href='/'>back</a>
</form>